<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ngMadLibs</title>
  <style>
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
      display: none !important;
    }
  </style>
</head>
<body ng-app="ng-madlibs" ng-cloak>
  <header class="topheader">
    <div class="topheader-inset">
      <image class="topheader-illustration" src="images/mad-lib-happy-face.png"
             alt="happy face">
    </div>
    <div class="topheader-content">
      <img class="topheader-logo" src="images/ng-mad-libs-logo.png"
           alt="ngMadLibs logo">
      <h1 class="topheader-title">Automate This!</h1>
    </div>
  </header>
  <main id="madlibs" ng-controller="madlibs">
    <form class="genderselect">
      <h2>Should this story be about a man or a woman?</h2>
      <ul class="genderlist">
        <li class="genderoption">
          <input type="radio" id="madlibs-gender-m" ng-model="gender"
                 name="gender" value="M">
          <label for="madlibs-gender-m">Man</label>
        </li><!--
     --><li class="genderoption">
          <input type="radio" id="madlibs-gender-f" ng-model="gender"
                 name="gender" value="F">
          <label for="madlibs-gender-f">Woman</label>
        </li><!--
     --><li class="genderoption">
          <input type="radio" id="madlibs-gender-o" ng-model="gender"
                 name="gender" value="O">
          <label for="madlibs-gender-o">No gender</label>
        </li>
      </ul>
    </form>
    <form class="wordselect" ng-submit="$event.preventDefault()">
      <h2>Provide the following words:</h2>
      <div class="wordselect-column">
        <input type="text" ng-model="this[nameKey(gender)]"
               placeholder="{{spaceify(nameKey(gender))}}">
        <input type="text" ng-model="job_title" placeholder="job title">
        <input type="text" ng-model="tedious_task" placeholder="tedious task">
      </div><!--
   --><div class="wordselect-column">
        <input type="text" ng-model="dirty_task" placeholder="dirty task">
        <input type="text" ng-model="celebrity" placeholder="celebrity">
        <input type="text" ng-model="useless_skill" placeholder="useless skill">
      </div><!--
   --><div class="wordselect-column">
        <input type="text" ng-model="obnoxious_celebrity"
               placeholder="obnoxious celebrity">
        <input type="text" ng-model="huge_number" placeholder="huge number">
        <input type="text" ng-model="adjective" placeholder="adjective">
      </div>
    </form>
    <article class="madlibs">
      <p>
        <span class="madlib">{{ml(nameKey(gender))}}</span> was a
        <span class="madlib">{{ml('job_title')}}</span> who loved technology.
        Although {{pron_2s_subjective(gender)}} loved parts of
        {{pron_2s_genetive(gender)}} job,
        {{pron_2s_subjective(gender)}} absolutely hated
        <span class="madlib">{{ml('tedious_task')}}</span> and
        <span class="madlib">{{ml('dirty_task')}}</span>. So,
        <span class="madlib">{{ml(nameKey(gender))}}</span> met with
        {{pron_2s_genetive(gender)}} life mentor,
        <span class="madlib">{{ml('celebrity')}}</span>,
        who told {{pron_2s_objective(gender)}} to learn how to
        <span class="madlib">{{ml('useless_skill')}}</span> with Thinkful.
        Thinkful didn't offer a course on
        <span class="madlib">{{ml('useless_skill')}}</span>, so
        {{pron_2s_subjective(gender)}} studied programming instead.
      </p>
      <p>
        What a great decision! With {{pron_2s_genetive(gender)}} new skills,
        <span class="madlib">{{ml(nameKey(gender))}}</span> built a(n)
        <span class="madlib">{{ml('adjective')}}</span> robot named
        <span class="madlib">{{ml('obnoxious_celebrity')}}</span> that not only
        loved <span class="madlib">{{ml('dirty_task')}}</span> but did it
        <span class="madlib">{{ml('huge_number') | number}}</span> times faster.
      </p>
    </article>
  </main>
  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
